---
const { content } = Astro.props;
---

<section id="hero" class="tab-section hidden">
	<div class="rounded-xl border border-gray-200 bg-white shadow-sm p-7">
		<h3 class="text-lg font-bold mb-6 text-gray-900">Hero</h3>
		<form id="form-hero" class="space-y-6">
			{
				content.sections.hero.hero_image && (
					<img
						src={content.sections.hero.hero_image}
						alt="Preview Hero"
						class="mb-4 rounded-lg w-full max-w-xs text-gray-900"
						onerror="this.style.display='none'"
					/>
				)
			}
			<input
				type="text"
				name="hero_title"
				value={content.sections.hero.hero_title}
				placeholder="Titolo"
				class="w-full px-3 py-2 rounded-md border border-gray-200 bg-gray-50 text-gray-900"
			/>
			<input
				type="text"
				name="hero_message"
				value={content.sections.hero.hero_message}
				placeholder="Messaggio"
				class="w-full px-3 py-2 rounded-md border border-gray-200 bg-gray-50 text-gray-900"
			/>
			<input
				type="text"
				name="hero_cta"
				value={content.sections.hero.hero_cta}
				placeholder="CTA"
				class="w-full px-3 py-2 rounded-md border border-gray-200 bg-gray-50 text-gray-900"
			/>
			<input
				type="file"
				name="hero_image"
				accept="image/*"
				class="w-full text-gray-900"
			/>
			<button
				type="submit"
				class="w-full py-2 rounded-md bg-indigo-500 hover:bg-indigo-600 font-semibold text-white transition"
				>Salva</button
			>
		</form>
	</div>
</section>
