---
import type { ClientContent } from "../../schema/content.schema";

interface Props {
	sections: ClientContent["sections"];
}
const { about } = Astro.props.sections;
---

<section class="about">
	<div class="about-inner">
		{
			about.image && (
				<img src={about.image} alt="Foto locale" class="about-img" />
			)
		}
		<div class="about-text">
			<h2>{about.preTitle}</h2>
			<p>{about.text}</p>
		</div>
	</div>
</section>
