---
import type { ClientContent } from "../../schema/content.schema";

interface Props {
	sections: ClientContent["sections"];
}
const { about } = Astro.props.sections;
---

<section class="about">
	<div class="about-inner">
		{
			about.about_image && (
				<img
					src={about.about_image}
					alt="Foto locale"
					class="about-img"
				/>
			)
		}
		<div class="about-text">
			<h2>{about.about_preTitle}</h2>
			<p>{about.about_text}</p>
		</div>
	</div>
</section>
