---
import type { ClientContent } from "../../schema/content.schema";

interface Props {
	sections: ClientContent["sections"];
}
const { footer } = Astro.props.sections;
---

<footer class="py-12 bg-neutral-900 text-white text-center">
	<div class="mb-2 font-bold text-lg">{footer.footer_name}</div>
	<div class="mb-2">{footer.footer_copy}</div>
	<div class="flex justify-center gap-4">
		{
			footer.socials.footer_instagram && (
				<a
					href={footer.socials.footer_instagram}
					target="_blank"
					rel="noopener"
					class="hover:underline"
				>
					Instagram
				</a>
			)
		}
		{
			footer.socials.footer_facebook && (
				<a
					href={footer.socials.footer_facebook}
					target="_blank"
					rel="noopener"
					class="hover:underline"
				>
					Facebook
				</a>
			)
		}
	</div>
</footer>
