---
import type { ClientContent } from "../../schema/content.schema";

interface Props {
	sections: ClientContent["sections"];
}
const { gallery } = Astro.props.sections;
---

{
	gallery.images.length > 0 && (
		<section class="gallery">
			<h2>{gallery.title}</h2>
			<div class="grid">
				{gallery.images.map((img) => (
					<img src={img} alt="Foto piatto" loading="lazy" />
				))}
			</div>
		</section>
	)
}
