---
import type { ClientContent } from "../../schema/content.schema";

interface Props {
	sections: ClientContent["sections"];
}
const { hero } = Astro.props.sections;
---

<section class="hero" style={`background-image: url(${hero.hero_image})`}>
	<div class="hero-content">
		<h1 data-editable="hero_title">{hero.hero_title}</h1>
		<p data-editable="hero_message">{hero.hero_message}</p>
		{
			hero.hero_cta && (
				<a href="#menu" class="cta-btn" data-editable="hero_cta">
					{hero.hero_cta}
				</a>
			)
		}
	</div>
</section>
