---
import type { ClientContent } from "../../schema/content.schema";

interface Props {
	sections: ClientContent["sections"];
}
const { hero } = Astro.props.sections;
---

<section class="hero" style={`background-image: url(${hero.image})`}>
	<div class="hero-content">
		<h1>{hero.title}</h1>
		<p>{hero.message}</p>
		{
			hero.cta && (
				<a href="#menu" class="cta-btn">
					{hero.cta}
				</a>
			)
		}
	</div>
</section>
