---
import type { ClientContent } from "../../schema/content.schema";

interface Props {
	sections: ClientContent["sections"];
}
const { menu } = Astro.props.sections;
---

<section class="menu">
	<h2>Menù</h2>
	{
		menu.pdfLink && (
			<a
				href={menu.pdfLink}
				target="_blank"
				rel="noopener"
				class="menu-pdf"
			>
				Scarica il menu in PDF
			</a>
		)
	}
</section>
