---
import type { ClientContent } from "../schema/content.schema";

interface Props {
	sections: ClientContent["sections"];
}
const { gallery } = Astro.props.sections;
---

{
	gallery.enabled && gallery.images.length > 0 && (
		<section id="gallery" class="py-24 md:py-32 bg-neutral-950">
			<div class="container px-4 mx-auto">
				<div class="text-center mb-16">
					<p class="mb-4 text-rose-500 font-semibold uppercase tracking-widest">
						Gallery
					</p>
					<h2 class="text-4xl md:text-5xl font-bold font-heading text-white tracking-px-n leading-tight">
						A Feast for the Eyes
					</h2>
				</div>
				<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
					{gallery.images.map((img) => (
						<div class="overflow-hidden rounded-2xl">
							<img
								class="w-full h-72 object-cover hover:scale-105 transition ease-in-out duration-500"
								src={img.src}
								alt={img.alt}
								loading="lazy"
							/>
						</div>
					))}
				</div>
			</div>
		</section>
	)
}
